*bin/
*obj/
*.vs/
*.png
CSharp-Advanced/ExamPreparation.12.01.2021/01.TheFightForGondor/
CSharp-Advanced/ExamPreparation.12.01.2021/03. Classroom_Skeleton.zip
CSharp-Advanced/ExamPreparation.12.01.2021/03. Guild_Skeleton.zip
CSharp-Advanced/ExamPreparation.12.01.2021/03. Parking_Skeleton.zip
CSharp-Advanced/ExamPreparation.12.01.2021/03.Classroom_Skeleton/03. Classroom_Skeleton.zip
CSharp-Advanced/ExamPreparation.12.01.2021/03.Guild_Skeleton/03. Guild_Skeleton.zip
 CSharp-Advanced/ExamPreparation.12.01.2021/03.Openning_Skeleton/03. Openning_ Skeleton.zip