@using TaxFairy.Core.ViewModels
@model IEnumerable<InvoiceListViewModel>



@if (User.Identity?.IsAuthenticated == false)
{
    <p>
        За издаване на фактури, моля да се регистрирате безплатно като потребител от <a class="navbar-text" asp-area="Identity" asp-page="/Account/Register"> ТУК </a>
    </p>
}
else
{
    <div class="container p-3 text-gray-dark text-center">
        <div class="row pt-4">
      
                <h5 >За да можете да разгледате, редактирате и създавате нови фактури, трябва да изберете базата на фирмата от която ще се управляват фактурите. 
                    Можете да го направите от бутона по-долу или от раздел "База на фирма" . В случай, че все още нямате създадена база, от същия бутон или раздела "База на фирма" може да създадете нова база, която след това да изберете.</h5>
            </div>
        
               <a asp-action="managevendors" asp-controller="vendor" class="btn btn-block btn-warning btn-lg">Избор на база на фирма</a>
   

    </div>
}

