@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение за забравена парола";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
<p>
    Моля, проверете имейла си, за да подновите своята парола!
</p>
