@using TaxFairy.Core.ViewModels
@model UserEditViewModel
@{
    ViewData["Title"] = "Редактиране на потребител";
}

<div class="row">
    <div class="col-4">
        <form id="edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control" aria-required="true" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="FullName" class="form-label"></label>
                <input asp-for="FullName" class="form-control" aria-required="true" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" aria-required="true" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-success btn-block">Потвърди</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}