@using Microsoft.AspNetCore.Identity
@using TaxFairy.Infrastructure.Data.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav nav-pills nav-sidebar">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-dharmachakra menu-item-icons"></i>
                <p>
                    &nbsp;&nbsp;   Register
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-item-icons" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-dove menu-item-icons"></i>
                <p>
                    &nbsp;&nbsp;  Login
                </p>
            </a>
        </li>

    }
</ul>
