@using TaxFairy.Core.ViewModels
@model NewsViewModel
@{
    ViewData["Title"] = "Редактиране на новини";
}

<div class="row">
    <div class="col-4">
        <form id="edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
               <textarea asp-for="Content" rows="15" cols="80"> </textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
                  <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-success btn-block">Потвърди</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}