@using TaxFairy.Core.Models
@model IEnumerable<NewsViewModel>

@{
    ViewData["Title"] = "Управление на новини";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Налични новини</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Новина</th>
                            <th>Дата</th>
                            <th>Действие</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var news in Model)
                        {
                            <tr>
                                <td>@news.Content</td>
                                <td>@news.IssueDate</td>
                                <td>
                                    <a asp-area="admin" asp-action="edit" asp-controller="news" asp-route-id="@news.Id" class="btn btn-block btn-warning btn-xs">Редакция</a>
                                    <a asp-area="admin" asp-action="delete" asp-controller="news" asp-route-id="@news.Id" class="btn btn-block bg-gradient-success btn-xs">Изтрий</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
