@{
    ViewData["Title"] = "Начална страница за администратори";
}
<td bgcolor="#FFFFFF" style="line-height:10px;" colspan=3>&nbsp;</td>

<div class="text-center">
    <h2 class="display-4">Добре дошли в Админ раздела</h2>
    <p></p>
</div>
